body {
  background: linear-gradient(135deg, #ffb6c1, #ffe4e1);
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 60px;
}

.box {
  background: white;
  padding: 30px;
  width: 350px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 25px pink;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid pink;
}

button {
  background: hotpink;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
